<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
   <meta charset="UTF-8">
   <title>Document</title>
   <link rel="stylesheet" href="main.css">
</head>
<body>




<div class="container player">
   <img src="/img/Background.png" alt="" id="background">
   
      <form action="javascript:void(0)" id="hit" class="">
         <input type="submit" value="P1 hit" class="btn btn-default hitb" disabled="true">
      </form>

      <form action="javascript:void(0)" id="stand">
         <input type="submit" value="P1 Stand" class="btn btn-default standb" disabled="true">
      </form>
   
   <div class="wallet">
      <p id="walletScore">$ ___</p>
   </div>   

   <div class="dealer_card_10">
         Dealer CARD
   </div>

   <div class="dealer_card_2">
         Dealer CARD
   </div>

   <div class="dealer_card_3">
         Dealer CARD
   </div>

   <div class="dealer_card_4">
         Dealer CARD
   </div>

   <div class="dealer_card_5">
         Dealer CARD
   </div>

   <div class="player_card_1">
         CARD
   </div>

   <div class="player_card_2">
         CARD
   </div>

   <div class="player_card_3">
         CARD
   </div>

   <div class="player_card_4">
         CARD
   </div>

   <div class="player_card_5">
         CARD
   </div>

   <div class="time">
         <p id="time1"></p>
   </div>
   
   <form action="javascript:void(0)" id="joinGame">
      <input type="submit" value="Join Game">
   </form>
</div>
   <!-- <form action="javascript:void(0)" id="formbet">
      <input type="text" id="bet">
      <input type="submit" value="Bet">
   </form> -->


</body>
 <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src= "./js/player.js"></script>

</html>

