<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>

<form action="/blackjack" method="POST">
  <input type="text" placeholder="yo boy yo amnesia">
   <input type="submit" id="field1" value="enter your name">
</form>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src= "./js/home.js"></script>

</html>

