
<h1>Login Page</h1>

<form action="/blackjack" method="POST" id="form1">

    <label for="userName">UserName: </label>
    <input id="userName" type="text" name="userName" >
    <label for="userPass">Password: </label>
    <input id="userPass" type="password" name="userPass">
    <input type="submit" value="Login">
 
</form>



<a href="/newUser"> Dont have an account? Create one here.</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="./js/home.js"></script>
