<h1>Signup Page</h1>

<form action="/newUser" method="POST">
  <p>
    <label for="userName">Name: </label>
    <input id="userName" type="text" name="userName" required>
    <label for="userPass">Password: </label>
    <input id="userPass" type="password" name="userPass" required>
    
    <input type="submit" value="Create">
  </p> 
</form>