
/*-------Background------*/
#background {
   max-width: 100%;
   height: auto;
   width: auto;
}

#joinGame {
   position: relative;
   bottom: 830px;
   left: 63px;
}

/*-------Player------*/
#hit {
   position: relative;
   bottom: 50px;
   left: 423px;
}

#stand {
   position: relative;
   bottom: 90px;
   left: 533px;
}

#walletScore {
   color: white;
   position: relative;
   bottom: 112px;
   left: 673px;

}

.player_card_1 {
   color: white;
   position: relative;
   bottom: 500px;
   left: 130px;   
}

.player_card_2 {
   color: white;
   position: relative;
   bottom: 523px;
   left: 330px;   
}

.player_card_3 {
   color: white;
   position: relative;
   bottom: 546px;
   left: 530px;   
}

.player_card_4 {
   color: white;
   position: relative;
   bottom: 569px;
   left: 730px;   
}

.player_card_5 {
   color: white;
   position: relative;
   bottom: 592px;
   left: 933px;   
}


.time {
   color: white;
   position: relative;
   bottom: 552px;
   left: 753px;   
}

/*-------Dealer------*/

.dealer_card_10 {
   color: white;
   position: relative;
   bottom: 462px;
   left: 130px;   
}

.dealer_card_2 {
   color: white;
   position: relative;
   bottom: 494px;
   left: 330px;   
}

.dealer_card_3 {
   color: white;
   position: relative;
   bottom: 522px;
   left: 530px;   
}

.dealer_card_4 {
   color: white;
   position: relative;
   bottom: 544px;
   left: 730px;   
}

.dealer_card_5 {
   color: white;
   position: relative;
   bottom: 570px;
   left: 930px;   
}

.dealer_card_1 {
   background-image: url("/img/10_of_clubs.png");
}
