
/*-------Background------*/
#background {
   max-width: 100%;
   height: auto;
   width: auto;
}

#joinGame {
   position: relative;
   bottom: 830px;
   left: 63px;
}

/*-------Player------*/
#hit {
   position: relative;
   bottom: 50px;
   left: 423px;
}

#stand {
   position: relative;
   bottom: 90px;
   left: 533px;
}

#walletScore {
   color: white;
   position: relative;
   bottom: 112px;
   left: 673px;

}

/*----PLAYER CARDS----*/

#player_card_1 {
  position: relative;
  bottom: 350px;
  left: -100px;   
  
}

#player_card_2 {
   
   position: relative;
   bottom: 350px;
   left: -100px;   
}

#player_card_3 {
   position: relative;
   bottom: 350px;
   left: -100px;   
}

#player_card_4 {
   position: relative;
   bottom: 350px;
   left: -100px;   
}

#player_card_5 {
   position: relative;
   bottom: 350px;
   left: -100px;   
}

/*----TABLE TIMER----*/
.time {
   color: white;
   position: relative;
   bottom: 492px;
   left: 550px;   
}

/*----TURN ----*/
.turn {
   color: white;
   position: relative;
   bottom: 372px;
   left: 550px;   
}

/*----WINNER MESSAGE----*/
#winnerMessage {
   color: white;
   position: relative;
   bottom: 530px;
   left: 550px;   
}

/*-------Dealer------*/

#dealer_card_1 {
   position: relative;
   bottom: 562px;
   left: 330px;   
}

#dealer_card_2 {
   color: white;
   position: relative;
   bottom: 562px;
   left: 330px;   
}

#dealer_card_3 {
   color: white;
   position: relative;
   bottom: 562px;
   left: 330px;   
}

#dealer_card_4 {
   color: white;
   position: relative;
   bottom: 562px;
   left: 330px;   
}

#dealer_card_5 {
   color: white;
   position: relative;
   bottom: 562px;
   left: 330px;   
}

/*.dealer_card_1 {
   background-image: url("/img/10_of_clubs.png");
}*/

