
/*-------Background------*/
#background {
   max-width: 100%;
   height: auto;
   width: auto;
}

#joinGame {
   position: relative;
   bottom: 830px;
   left: 63px;
}

/*-------Player------*/
#hit {
   position: relative;
   bottom: 50px;
   left: 423px;
}

#stand {
   position: relative;
   bottom: 90px;
   left: 533px;
}

#walletScore {
   color: white;
   position: relative;
   bottom: 112px;
   left: 673px;

}

/*----PLAYER CARDS----*/

#player_card_1 {
  position: relative;
  bottom: 500px;
  left: 330px;   
  
}

#player_card_2 {
   
   position: relative;
   bottom: 500px;
   left: 330px;   
}

#player_card_3 {
   position: relative;
   bottom: 500px;
   left: 330px;   
}

#player_card_4 {
   position: relative;
   bottom: 500px;
   left: 330px;   
}

#player_card_5 {
   position: relative;
   bottom: 500px;
   left: 330px;   
}

/*----TABLE TIMER----*/
.time {
   color: white;
   position: relative;
   bottom: 452px;
   left: 530px;   
}

/*-------Dealer------*/

.dealer_card_10 {
   color: white;
   position: relative;
   bottom: 462px;
   left: 130px;   
}

.dealer_card_2 {
   color: white;
   position: relative;
   bottom: 494px;
   left: 330px;   
}

.dealer_card_3 {
   color: white;
   position: relative;
   bottom: 522px;
   left: 530px;   
}

.dealer_card_4 {
   color: white;
   position: relative;
   bottom: 544px;
   left: 730px;   
}

.dealer_card_5 {
   color: white;
   position: relative;
   bottom: 570px;
   left: 930px;   
}

/*.dealer_card_1 {
   background-image: url("/img/10_of_clubs.png");
}*/

